<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FolderWatcherPath" value="C:\Temp\Quarentine"/>
    <add key="Host" value="10.112.8.24"/>
    <add key="Port" value="25"/>
    <add key="AuthorName" value="Leandro Keiji Utida"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>